body {
	background:#f5f6f7;
	background-image: url(./layout-imgs/h_gray_bkg.gif);
	background-repeat: repeat-x;
}

/** Bootsstrap custom components */
.btn .caret.imageButton{
	margin-top: 13px;
	margin-left: 5px;
	margin-right: 5px;
}

.dropdown-menu > li > a > .gwt-Label{
    display:inline;
    margin-left:8px;
}

.popover.fade.in, INPUT.fade.in {
	opacity: 1;
  -webkit-transition: opacity 0.25s linear;
     -moz-transition: opacity 0.25s linear;
       -o-transition: opacity 0.25s linear;
          transition: opacity 0.25s linear;
}

.popover.fade, INPUT.fade{
  opacity: 0;
  -webkit-transition: opacity 0.55s linear;
     -moz-transition: opacity 0.55s linear;
       -o-transition: opacity 0.55s linear;
          transition: opacity 0.55s linear;
}

.imgHTMLPanel{
    line-height: 44px;
    text-align: center;
    min-height: 44px;
    display: block;
    vertical-align: middle;

}

.imgDeleteButton{
    vertical-align:middle;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}