
.mgwt-CheckBox {
	
}

.mgwt-CheckBox-middle {
	
}

.mgwt-CheckBox-middle-content {
	
}

.mgwt-CheckBox-on {
	color: black;
}

.mgwt-CheckBox-off {
	color: lightgrey;
}

.mgwt-CheckBox-important {
	
}

.mgwt-CheckBox-notchecked {
	color: lightgrey;
	cursor:default;
}
.mgwt-CheckBox-checked {
	color: black;
	cursor:default;
}
