
.mgwt-List > li {
	background-color: white;
	color: black;
}

@if mgwt.os android {
	.mgwt-List > li {
		border-bottom-color: #999999;
	}
}

@if mgwt.os android {
	.mgwt-List-selected {
		background-color: #005595 !important;
		background-image: none !important;
	}
}

@if mgwt.os iphone {
	.mgwt-List-selected {
		font-weight: inherit !important;
	}
}

.mgwt-List-group.mgwt-List-selected {
	color: inherit;
	font-weight: inherit;
}

.mgwt-List-canbeSelected.mgwt-List-selected {
	color: inherit;
	font-weight: inherit;
}
